<%= form_with(model: noni) do |form| %>
  <% if noni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noni.errors.count, "error") %> prohibited this noni from being saved:</h2>

      <ul>
        <% noni.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
