// Place all the styles related to the nonis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  margin: 0px !important;
  color: white;
      line-height: initial !important;
}

// Colours variables
$theme-color: #F14E00;
$white: #fff;
$theme-red: #F14E00;
$theme-blue: #0074C9;




// Custom checkboxes


$background-color_1: #eee;
$background-color_2: #ccc;
$background-color_3: #2196F3;

.theme-text-white{
  color: $white !important;
}
.after-unset{
    &:after{
      content: unset !important;
    }
}
.checkbox-parent {
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 13px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          // background-color: $background-color_3;
          background-color: transparent;
          border: 1px solid white;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &:hover {
    input {
      ~ {
        .checkmark {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }
  .checkmark {
    &:after {
      left: 4px;
      top: 4px;
      width: 8px;
      height: 8px;
      // border: solid white;
      border-radius: 30px;
      background: black;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 1px solid white;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

// Custom checkboxes end

.check-set{
  display: flex;
  justify-content: space-between;
}

.input-style{
  input{
    background-color: transparent;
    border: unset;
    background-color: rgba(0,0,0,0.06);
    color: white;
    padding: 2px 5px;
    &:focus{
      border: unset;
      outline: unset;
    }
    &::placeholder{
      color: #ccc;
    }
  }
}
.theme-bg{
  background-color: $theme-color;
}
.theme-text-red{
  color: $theme-red;
}
.theme-text-blue{
  color: $theme-blue;
}
.d-set-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mtb-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-20{
  font-size: 20px;
}
.font-24{
  font-size: 24px;
}
.font-26{
  font-size: 26px;
}
.mh-70{
  min-height: 70px;
}
.text-up{
  text-transform: uppercase;
}
.full-w{
  width: 100%;
}
.btn-theme-primary{
  background: $theme-red;
  border: unset;
  display: inline-block;
  padding: 18px 34px;
  font-size: 16px;
  color: white;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}
.btn-theme-secondary{
  background: $theme-blue;
  border: unset;
  display: inline-block;
  padding: 18px 34px;
  font-size: 16px;
  color: white;
  &:hover{
    opacity: 0.7;
    cursor: pointer;
  }
}


.wrapper-noni{
  width: calc(100% - 192px);
  margin: auto;
}

.wrapper-noni-sm{
  width: calc(100% - 400px);
  margin: auto;
}
.common-heading{
  font-size: 80px;
  color: white;
  font-weight: 600;
}
.sub-heading{
  font-size: 30px;
  color: white;
}
.text-center{
  text-align: center;
}

.hero{
  padding: 42px 0;
  position: relative;
  .logo-h{
    display: flex;
    position: relative;
    z-index: 999;
    .web-title{
      font-size: 96px;
      line-height: 104px;
      margin-left: 30px;
      color: white;
      position: relative;
      top: -10px;
    }
  }
  .left-area{
    width: 530px;
    position: relative;
    z-index: 999;
    .sub-head{
      color: $white;
      font-size: 36px;
      margin-top: 30px;
    }
    .head-para{
      margin-top: 30px;
      p{
        font-size: 18px;
        color: white;
        margin-bottom: 20px;
      }
    }
  }
  .bottom-image{
    margin-top: 60px;
    img{
      width: 160px;
      margin-right: 20px;
    }
  }
  .base-right-banner{
    position: absolute;
    width: 1200px;
    right: 0;
    top: 0;
    height: 842px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}



// VÁSÁRLÁS Section
.vasarlas{
  background: url(bg-texture.svg);
  background-color: #EFA356;
  padding-top: 60px;
  padding-bottom: 60px;
  .head-title{
    height: 106px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    img{

    }
  }
  .vasarlas_child{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 200px);
    margin: auto;
    gap: 10px;
    flex-wrap: wrap;
    .vasarlas__inner{
      margin-top: 50px;
      padding: 30px;
      flex-basis: 32%;
      .vasarlas_img_inner{
        height: 490px;
        width: 100%;
        img{
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
      .vasarlas__text{
        color: white;
        margin-top: 30px;
        .prod-name{
          position: relative;
          padding-bottom: 20px;
          p:first-child{
            font-size: 28px;
            color: white;
            text-align: center;
            margin-bottom: 12px;
            font-weight: 600;
          }
          p:last-child{
            font-size: 24px;
            color: white;
            text-align: center;
          }
          &:before{
            content: "";
            height: 1px;
            width: calc(100% - 230px);
            position: absolute;
            bottom: -5px;
            background-color: $theme-red;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .line-blue{
          &:before{
            background-color: $theme-blue;
          }
        }
        .prod-info{
          margin-top: 30px;
          text-align: center;
          p{
            color: white;
            font-size: 24px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}


.rendeles{
  background-color: $theme-red;
  padding-top: 80px;
  padding-bottom: 80px;
  .heading{
    font-weight: 700;
    display: inline-block;
    font-size: 80px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
  }
  .heading1{
    justify-content: left;
    display: flex;
    p{
      font-size: 36px;
      font-weight: 700;
      color: #ffffff;
    }
  }
  .order-details{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    .left-table{
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding-right: 30px;
      p{
        color: white; 
        font-size: 24px;
        margin-bottom: 10px;

      }
      .column-1{
        font-weight: 700;
      }
      .column-2{
        font-weight: 400;
        text-align: end;
      }
      .column-3{
        font-weight: 400;
        text-align: end;
      }
    }
    .right-table{
      // display: flex;
      width: 50%;
      padding-left: 30px;
      justify-content: space-between;
      p{
        color: black;
        font-size: 24px;
        margin-bottom: 10px;
      }
      .column-2{
        font-size: 32px;
        text-align: end;
      }
    }
  }
  .other-details{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 0px;
    flex-wrap: wrap;
    .left-table{
      width: 45%;
      // border-right: 1px solid;
      position: relative;
      &:before{
        content: "";
        height: calc(100%);
        background-color: black;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .middle-table{
      width:32%;
      padding-left: 30px;
      position: relative;
      &:before{
        content: "";
        height: calc(100%);
        background-color: black;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .box{
      width: 23%;
      padding-left: 30px;
    }
    .column-1, .column-2, .column-3{
      p{
        color: white;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        span{
          font-weight: 700;
        }
      }
    }
    .left-table{
      padding-right: 30px;
      .column-1{
        // margin-top: 32px;
      }
      .list-with-checkbox{

        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 10px;
        p{
          color: white;
          margin-bottom: 0;
        }
      }
    }
    .middle-table{
      .column-1{
        // margin-top: 32px;
      }
    }
    .box{
      justify-content: space-between;
      display: grid;
      .right-table{
        .column-1{
          // margin-top: 32px;
        }
      }
      .gold-btn{
        width: 278px;
        justify-content: center;
        height: 80px;
        margin-top: 100px;
        button{
          font-weight: 700;
          font-size: 24px;
          color: #FFFFFF;
          background: #EFA356;
          width: 278px;
          height: 80px;
          border: unset;
        }
      }
    }
    .vertical-separator{
      border: 1px solid #000000;
      transform: rotate(-90deg);
      position: relative;
      left: 21vw;
      top: 12vw;
      width: 43vh;
    }
    .vertical-separator2{
      left: 13vw;
    }
  }
}



.teremekekrol{
  .section4{
    background: url(bg-texture.svg);
    background-color: #EFA356;
    padding-top: 90px;
    display: flex;
    .left-section{
      width: 50%;
      float: left;
      .sec4-img{
        display: flex;
        justify-content: center;
        img:nth-of-type(2){
          position: relative;
          top: 0px;
          left: -168px;
          z-index: 1;
        }
        img:nth-of-type(3){
          position: relative;
          left: -305px;
          z-index: 2;
        }
      }
    }
    .right-section{
      vertical-align: middle;
      margin: auto;
      width: 50%;
      float: left;
      padding: 0 100px;
      padding-top: 50px;
      padding-left: 30px;
    padding-right: 30px;
      .heading{
        font-weight: 700;
        font-size: 64px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
      }
      .separator{
        width: 248px;
        height: 0px;
        border: 1px solid #FFFFFF;
      }
      p:nth-of-type(2){
        margin: auto;
        margin-top: 48px;
        font-weight: 400;
        width: 620px;
        font-size: 20px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
      }
      .buy-btn{
        justify-content: center;
        display: flex;
        margin-top: 40px;
        button{
          width: 216px;
          height: 46px;
          background: #F14E00;
          border: none;
          font-weight: 700;
          font-size: 18px;
          color: #ffffff;
          text-align: center;
        }
      }
    }
  }
}
.befolyt{
  .section5{
    background-color: #F14E00;
    display: flex;
    .main-box{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .leftmost-img{    
      left: 0;
      position: relative;
      width: 111px;
      img{
        width: fit-content;
        height: fit-content;
      }
    }
    .top-section{
      width: 100%;
      display: flex;
      .left{
        width: 50%;
        .heading{
          margin-top: 121px;
          font-weight: 700;
          font-size: 50px;
          text-align: center;
          // text-transform: capitalize;
          color: #FFFFFF;
        }
        .separator{
    width: 248px;
    height: 1px;
    background-color: black;
    border: unset;
        }
        p:nth-of-type(2){
          font-weight: 400;
          font-size: 18px;
          width: 542px;
          margin: auto;
          margin-top: 52px;
          text-align: center;
          text-transform: capitalize;
          color: #FFFFFF;
        }
        p:nth-of-type(3){
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          margin-top: 36px;
          text-align: center;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        .social-img{
          text-align: center;
          justify-content: center;
          display: flex;
          margin-top: 33px;
        }
        .social-images{
          justify-content: space-between;
          display: flex;
          padding-left: 100px;
          padding-right: 100px;
          margin-top: 50px;
          img{
            width: 160px;
            border-radius: 40px;
          }
        }
      }
      .right{
        width: 50%;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

      }
    }
    .bottom-section{
      padding: 0 100px;      
      .box{
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
        .logo{
          img{
            width: 87px;
            height: 87px;
          }
        }
        .links{
            width: 100%;
            text-align: center;
            height: 84px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        a{
          color: #000;
          &:hover{
            color: #ccc;
            background-color: transparent;
          }
        }
        .list-link{
          display: flex;
          justify-content: space-evenly;
        }
        }
        .copyright-text{
          color: white;
        }
      }
    }
  }
}





// +++++++++++++++++++++++++++++++++++++++++++++++++++++
// Common Mobile and Tablet Responsive
// +++++++++++++++++++++++++++++++++++++++++++++++++++++

@media screen and (max-width: 1999px){
  .common-heading{
    font-size: 60px;
  }
  .sub-heading{
    font-size: 24px;
  }
  .vasarlas{ 
    .vasarlas_child{ 
      .vasarlas__inner{ 
        .vasarlas__text{ 
          .prod-name{ 
            p:first-child{
              font-size: 20px;
            }
            p:last-child{
              font-size: 16px;
            }
          }
          .prod-info{ 
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .rendeles{ 
    .order-details{ 
      .left-table{ 
        p{
          font-size: 16px;
        }
      }
      .right-table{
        p{
          font-size: 16px;
        }
      }
    }
    .column-1, .column-2, .column-3{
      p{
        font-size: 16px !important;
      }
    }
    .gold-btn{
      margin-top: 90px !important;
    }
  }
}

@media screen and (max-width: 1900px){
  .hero{
    .logo-h{
      img{
        width: 120px;
      }
      .web-title{
        font-size: 70px;
        line-height: 66px;
        top: -4px;
      }
    }
    .left-area{ 
      .sub-head{
        font-size: 22px;
      }
      .head-para{
        p{
          font-size: 14px;
        }
      }
    }
    .bottom-image{ 
      img{
        width: 120px;
        margin-right: 10px;
      }
    }
    .base-right-banner{
      width: 980px;
      height: 621px;
    }
  }
}

@media screen and (max-width: 1600px){
  .befolyt{ 
    .section5{ 
      .top-section{ 
        .left{ 
          .social-images{
            padding-left: 40px;
            padding-right: 40px;
            img{
              width: 130px;
              border-radius: 10px;
            }
          }
        }
      }
      .bottom-section{
        padding: 0 40px;
      }
    }
  }
  .vasarlas{ 
    .vasarlas_child{
     .vasarlas__inner{
        margin-top: 10px !important;
     }
    }
  }
  .wrapper-noni{
    width: calc(100% - 100px);
  }
  .hero{
    .logo-h{
      img{
        width: 100px;
      }
      .web-title{
        font-size: 58px;
        line-height: 53px;
        top: -3px;
        margin-left: 20px;
      }
    }
    .left-area{ 
      width: 350px;
      .sub-head{
        font-size: 22px;
      }
      .head-para{
        p{
          font-size: 14px;
        }
      }
    }
    .bottom-image{ 
      margin-top: 20px;
      img{
        width: 80px;
        margin-right: 10px;
      }
    }
    .base-right-banner{
      width: 944px;
      height: 595px;
    }
  }
}


@media screen and (max-width: 1350px){
  .wrapper-noni{
    width: calc(100% - 40px);
  } 
  .common-heading{
    font-size: 38px;
  }
  .hero{
    .logo-h{
      img{
        width: 70px;
      }
      .web-title{
        font-size: 38px;
        line-height: 40px;
      }
    }
    .left-area{ 
      width: 350px;
      .sub-head{
        font-size: 16px;
      }
      .head-para{
        p{
          font-size: 12px;
        }
      }
    }
    .bottom-image{ 
      margin-top: 20px;
      justify-content: space-between;
      display: inline-flex;
      gap: 26px;
      img{
        width: 50px;
        margin-right: 10px;
      }
    }
    .base-right-banner{
      width: 634px;
      height: 473px;
    }
  }

  .vasarlas {
    .vasarlas_child{
      width: 100%;
      .vasarlas__inner{
        padding: 20px;
      }  
    }
  }
  .rendeles{ 
    .other-details {
      .left-table {

      }
      .middle-table{
        width: 50%;
        padding-left: 0;
        &:before{
          content: unset;
        }
      }
      .box{
        padding-left: 0;
        display: block;
        width: 45%;
        padding-right: 30px;
        margin-top: 30px;
      }
    }
  }

  .teremekekrol{ 
    .section4{ 
      .right-section{ 
        .heading{
          font-size: 38px;
        }
        p{
          &:nth-of-type(2){
            width: 100%;
          }
        }
      }
      .left-section{ 
        .sec4-img{
          img{
            width: 100%;
          }
        }
      }
    }
  }

  .befolyt{ 
    .section5{
      overflow: hidden; 
      .leftmost-img{
            height: 870px;
          }
      .top-section{ 
        .left{ 
          
          .heading{
            margin-top: 40px;
            font-size: 38px;
          }
          p{
            &:nth-of-type(2){
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
            }
            &:nth-of-type(3){
              font-size: 16px;
            }
          }
          .social-images{ 
                margin-top: 10px;
            img{
              width: 85px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1024px){
  .no-wrap-sm{
    white-space: nowrap;
  }
  .hero{ 
    .logo-h{ 
      img{
        width: 50px;  
      }
      .web-title{
        font-size: 28px;
        line-height: 28px;
      }
    }
    .left-area{ 
      .sub-head{
        margin-top: 10px;
      }
      .head-para{
        margin-top: 15px;
      }
    }
    .base-right-banner{
      width: 504px;
      height: 414px;
    }
  }
  .common-heading{
    font-size: 28px;
  }
  .vasarlas{ 
    .vasarlas_child{
        width: 100%;
      overflow: hidden;
      flex-wrap: unset;
      .vasarlas__inner{
            padding: 10px;
        .head-title{
           img{
            width: 80%;
          }
        }
        .vasarlas_img_inner{
          height: 220px;
        }
        .vasarlas__text{ 
          .prod-name{ 
            p{
              &:first-child{
                    min-height: 60px;
              }
            }
            &:before{
              width: 80px;
            }
          }
        }
      }
    }
  }
  .rendeles{
    padding-top: 40px; 
    padding-bottom: 40px; 
    .other-details{ 
      .box{ 
        .gold-btn{ 
          button{
            font-size: 16px;
            width: 208px;
            height: 60px;
          }
        }
      }
    }
  }
  .teremekekrol{ 
    .section4{ 
      .right-section{
        padding-top: 20px;
        padding-bottom: 20px;
        .heading{
          font-size: 28px;
        }
        p{
          &:nth-of-type(2){
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .befolyt{ 
    .section5{ 
      .leftmost-img{
        width: 70px;
        height: 690px;
        overflow: hidden;
      }
      .top-section{ 
        .left{ 
          .heading{
            font-size: 28px;
          }
          p{
            &:nth-of-type(2){
              font-size: 14px;
              margin-top: 20px;
            }
          }
          .social-img{
            margin-top: 22px;
          }
          .social-images{
            img{
              width: 55px;
            } 
          }
        }
      }
      .bottom-section {
        .box{
          padding-top: 40px;          
        }
      }
    }
  }
}



@media screen and (min-width: 768px){
  .mobile-images{
    display: none;
  }
  .on-mobile-content{
    display: none !important;
  }
}


@media screen and (max-width: 767px){
  .mtb-30-sm{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .font-28-sm{
    font-size: 28px !important;
  }
  .on-desktop-content{
    display: none !important;
  }
  .hero{
    padding-bottom: 20px;
    .logo-h{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .web-title{
          margin-top: 20px;
        }
        img{
          width: 90px;
        }

    }
    .sub-head{
      display: none;
    }
    .base-right-banner{
      height: auto;
      width: 100%;
      position: relative;
      top: 0;
      .right-image{
        display: none;
      }
      .mobile-images{
        .left-in{
          width: auto;
          position: absolute;
          left: 0;
          bottom: 150px;
          height: auto;
        }
        .right-in{
          width: auto;
          position: absolute;
          right: 0;
          bottom: 415px;
          height: auto;
        }
      }
    }
    .left-area{
      display: none;
    }
    .set-b-img{
      position: absolute;
      bottom: -9px;
      right: 0px;
    }
    .bottom-image{ 
      img{
        width: 95px;
        margin-right: -7px;
      }
    }
  }
  .hero-mobile{
    background-color: #C03E00;
    padding: 40px;
    color: white;
    text-align: center;
    p{
      color: white;
    }
  }
  .b-image{
    background-color: #C03E00;
    img{
      position: relative;
      top: 3px;
    }
  }
  .mh-auto-sm{
    min-height: auto;
  }
  .vasarlas{ 
    .vasarlas_child{ 
      .vasarlas__inner{ 
        .head-title{ 
          img{
            width: 210px;
            height: 70px;
            object-fit: contain;
          }
        }
      }
    }
    .carousel-indicators{
      top: 2vh;
      li {
        background-color: transparent;
        border: none;
        opacity: 1;
      }
      li::before {
        content: "";
        display: block;
        width: 11px; 
        height: 11px; 
        background-color: white;
        border-radius: 50%;
        margin: 5px;
      }
      .active::before {
        background-color: black;
      }
    }
  }
  .carousel-control-prev, .carousel-control-next{
    bottom: unset;
    top: 30%;
  }


  // other sections

  .rendeles{
    .sub-heading{
      text-align: center;
    }
    .order-details{
      display: inherit;
      .left-table{
        display: inherit;
        width: 100%;
        text-align: center;
        padding: 0;
        .column-1, .column-2, .column-3{
          text-align: center;
        }
      }
      .right-table{
        width: 100%;
        padding: 0;
        .d-set-c{
          display: inherit;
          text-align: center;
        }
      }
    }
    .other-details{
      .left-table, .middle-table, .box{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        &:before{
          content: unset;
        }
        &:after{
          content: "";
          width: 140px;
          background-color: black;
          height: 1px;
          position: absolute;
          bottom: -20px;
          right: 0;
          left: 0;
          margin: auto;
        }
        p{
          text-align: center;
          margin-bottom: 30px;
          input{
            display: block;
            margin: auto;
            margin-top: 20px;
          }
        }
        .list-with-checkbox{
          width: 250px;
          margin: auto;
          margin-bottom: 50px;
          p{
            text-align: left;
          }
          .checkbox-parent{
            left: 15px;
          }
        }
        .check-set{
          width: 250px;
          margin: auto;
        }
        .gold-btn{
          margin: auto;
          display: flex;
          margin-top: 20px !important;
        }
      }
      
    }
  }
  .teremekekrol{
    .section4{
      padding: 40px 0;
      padding-bottom: 0;
      .wrapper-noni{
        display: flex;
        flex-direction: column-reverse;
        .left-section, .right-section{
          float: unset;
          width: 100%;
        }
        .left-section{
          .sec4-img{ 
            img{
              width: 230px;
              position: relative;
              left: -20px;
            }
          }
        }
        .right-section{
          padding-bottom: 40px;
        }
      }
    }
  }

  .befolyt{ 
    .section5{ 
      display: inherit;
      .leftmost-img{
        height: auto;
        width: 100%;
        img{
        }
      }
      .main-box{
        padding-left: 20px;
        padding-right: 20px;
        .top-section{
          .left{
            width: 100%;
            .social-img{
              margin-top: 50px;
              margin-bottom: 50px;
            }
            .social-images{
              flex-wrap: wrap;
              padding: 0;
              gap: 20px;
              padding-left: 100px;
              padding-right: 100px;
              img{
                width: 46%;

              }
            }
          }
          .right{
            display: none;
          }
        }
        .bottom-section{
          padding: 0;
          .box{
            display: inherit;
            .logo{
              margin: auto;
              text-align: center;
            }
            .links{
              height: unset;
              padding-bottom: 30px;
              .list-link{
                display: initial;
                padding: 30px 0;
                div{
                  margin: 15px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 500px){
  .befolyt{ 
    .section5{ 
      .main-box{
        .top-section{
          .left{
            .social-images{
              padding: 20px;
            }
          }
        }
      }
    }
  }
}








